/* ### Body Css ### */

body{
    font-family: 'McLaren', cursive;
    background-image: url(../image/backgroud/BackGroud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

a{
    text-decoration: none;
}

/* ### Nav Css ### */

.btn-nav{
    border-top: 2px solid #01922a;
    border-bottom: 4px solid #01922a;
    border-right: 3px solid #01922a;
    border-left: 3px solid #01922a;
    border-radius: 15px;
    padding: 10px 15px;

    background: linear-gradient(#00af32,#4fd800,#66fd0e);
    transition: 0.3s;

    margin-inline-start: 5vw;
    margin-inline-end: 5vw;
}
.btn-nav:active{
    border-top: 4px solid #01922a;
    border-bottom: 2px solid #01922a;
    border-right: 3px solid #01922a;
    border-left: 3px solid #01922a;
    border-radius: 15px;
    padding: 10px 15px;

    background: linear-gradient(#00af32,#4fd800,#66fd0e);

    transform: translateY(2px);

    transition: 0.2s;
}

nav{
    background: linear-gradient(#008b28,#99f565);
}

/* .hr-nav{
    border: solid #9bf866 4px;
} */

.text-nav-btn{
    color: #ffffff;
    text-shadow: 2px 2px 1px black;
    text-shadow: 1px 1px black;
}


.text-border{
    -webkit-text-stroke: 1px black;
    color: white;
    /* text-shadow:
    -1px 0px 0px black,
    1px 0px 0px black,
    0px -1px 0px black,
    0px 1px 0px black;
    color: white;
    font-weight: 100;  */
}